@{
    ViewBag.Title = "Authors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4> All Authors</h4>

<p>
    <button type="button" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("BookswithAuthors", "BookWithAuthor")';"><span class="glyphicon glyphicon-list-alt"></span> Book List</button>
    <button type="button" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("Create", "Authors")';"><span class="glyphicon glyphicon-plus"></span> Create an Author</button>
</p>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Biography
        </th>
        <th>
            Employed
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in ViewBag.listAuthors)
    {
        <tr>
            <td>
                @item.Auth_Id
            </td>
            <td>
                @item.First_Name

            </td>
            <td>
                @item.Last_Name
            </td>
            <td>
                @item.Biography
            </td>
            <td>
               
                @if (item.IsEmployed == "Y")
                {

                    <p><span class="glyphicon glyphicon-ok" style="color:lime"></span></p>
                }

                @if (item.IsEmployed == "N")
                {
                    <p><span class="glyphicon glyphicon-remove" style="color:deeppink"></span></p>   
                    
                }

            </td>

            <td>
                <a class="btn btn-danger btn-xs" onclick="return confirm('Are you Sure ?')" href="@Url.Action("Delete","Authors" , new { id = item.Auth_Id })"><span class="glyphicon glyphicon-trash"></span> Delete Author</a>
                @*<button type="button" class="btn btn-danger btn-xs" onclick="return confirm('Are you Sure ?');location.href='@Url.Action("Delete","Authors" , new { id = item.Auth_Id })';return false;"><span class="glyphicon glyphicon-trash"></span> Delete Author</button>*@
                <a class="btn btn-warning btn-xs" href="@Url.Action("Edit","Authors" , new { id = item.Auth_Id })"><span class="glyphicon glyphicon-scissors"></span> Edit Author</a>
                @*<button type="button" class="btn btn-warning btn-xs" onclick="location.href='@Url.Action("Edit","Authors" , new { id = item.Auth_Id})';"><span class="glyphicon glyphicon-scissors"></span> Edit Author</button>*@
            </td>
        </tr>
    }

</table>


